<h2>Cronograma para {{ month }}/{{ year }}</h2>
<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Organización</th>
            <th>Kilos</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.date.strftime('%A, %d %B %Y') }}</td>
                <td>{{ schedule.organization.name }}</td>
                <td>{{ schedule.kilos }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
